.titreun{
    
    background-color: blue;
    width: 100px;
    height: 18px;
    
   text-align: center;
   margin-left: 10px;
}

#premierformulaire{
    
   width: 1400px;
   height: 150px;
    background-color: blue;
    padding-bottom: 20px;
    margin-top: -20px;
}
#espaceun{
    display: flex;
    flex-direction: column;
}

#texteun{
    margin-left: 30px;
    margin-top: 30px;
}



.titredeux{
    
    background-color:purple;
    width: 150px;
    height: 18px;
    
   text-align: center;
   margin-left: 10px;
}

#deuxiemeformulaire{
    
   width: 1400px;
   height: 220px;
    background-color: purple;
    padding-bottom: 20px;
    margin-top: -20px;
}
#espacedeux{
    display: flex;
    flex-direction: column;
}
#textedeux{
    margin-left: 30px;
    margin-top: 30px;
}
button{
    margin-top: 5px;
}


.titretrois{
    
    background-color:#db0a5b;
    width: 250px;
    height: 18px;
    
   text-align: center;
   margin-left: 10px;
}

#troisiemeformulaire{
    
   width: 1400px;
   height: 300px;
    background-color: #db0a5b;
    padding-top: -40px;
    margin-top: -40px;
}
#espacetrois{
    display: flex;
    flex-direction: column;
}
#textetrois{
    margin-left: 30px;
    margin-top: 40px;
    padding-top: 20px;
}




    
    
    

   
    
    
